@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body, html {
    font-family: Libre Baskerville;
    background-color: #FEEFE5;

    text-align: center;

    height: 100%;
    margin: 0;
}

header {
    background-color: #9EACBB;
}

.wrapper {
    min-height: calc(100vh - 100px - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
    text-align: center;
    justify-content: center;
}

tr {
    border-bottom: 5px solid rgb(173, 105, 68)
}

td {
    padding-top: 2em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: right;
    max-height: 250px;
}

.title {
    border: 1px solid #000000;
    padding: 5px;
    background-color: #FFDF73;
    overflow-wrap: break-word;
    display: inline-block;
}

footer {
    background-color: #9EACBB;
    position: fixed;
    width: 100%;
    bottom: 0;
}