@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    font-family: Libre Baskerville;
    background-color: #FEEFE5;
}

header {
    background-color: #9EACBB;
}

footer {
    background-color: #9EACBB;
}